@using System.Collections

@{
    ViewData["Title"] = "Dashboard";

}
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>Dashboard</h5>
                    <hr />

                    <input class="btn btn-primary mb-4" id="CreateNew" type="button" value="Create" />

                    <hr />

                </div>
            </div>
        </div>
    </div>
</div>

